<td>
  <input type="radio" name="<%= skill %>-<%= year %>" value="0">
  <input type="radio" name="<%= skill %>-<%= year %>" value="1">
  <input type="radio" name="<%= skill %>-<%= year %>" value="2">
</td>